* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

:root {
    --color1: #08A6E4;
    --color2: rgba(7, 172, 230, .16);
    --color3: #FB3B64;
    --color4: #55DFB4;
    --color5: #000000;
    --color6: #A5A5A5;
    --color7: #F7F7F7;
    --color8: #FFFFFF;
    --font1: 'Raleway', sans-serif;;
    --font2: 'Open Sans', sans-serif;;
}

/********************HEADER********************/

.header {
    background: var(--color8);
    box-shadow: 0 3px 6px #00000029;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    line-height: 37px;
    color: var(--color1);
    font-weight: 300;
    font-family: var(--font1);
    text-decoration: none;
    padding: 16px 0;
}

.nav__items {
    display: flex;
}

.nav__item {
    padding-left: 75px;
}

.nav__link {
    color: var(--color6);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 4px solid white;
    padding: 27px 10px 22px 10px;
    font-family: var(--font2);
}

.nav__link:hover {
    color: var(--color5);
    border-bottom: 4px solid var(--color1);
}

/********************BANNER********************/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    font-size: 49px;
    color: var(--color5);
    line-height: 57px;
    font-family: var(--font1);
    font-weight: normal;
    padding-top: 200px;
    padding-bottom: 20px;
}

.banner__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-bottom: 60px;
}

.banner__btn {
    font-size: 16px;
    line-height: 22px;
    color: var(--color8);
    font-weight: bold;
    font-family: var(--font2);
    text-decoration: none;
    padding: 22px 157px;
    background: var(--color1);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.banner__img{
    width: 100%;
    height: auto;
}

/********************STATISTICS********************/

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.statistics__title {
    padding: 100px 0;
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
}

.statistics__columns {
    display: flex;
    gap: 230px;
    justify-content: center;
}

.statistics__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics__items {
    width: 63px;
    height: 63px;
    position: relative;
    background-color: var(--color3);
    border-radius: 50%;
}

.statistics__item {
    position: absolute;
    right: -12px;
    top: +3px;
}

.statistics__items--primary {
    background-color: var(--color1);
    border-radius: 50%;
}

.statistics__item--primary {
    position: absolute;
    top: +14px;
    right: -24px;
}

.statistics__items--secondary {
    background-color: var(--color4);
    border-radius: 50%;
}

.statistics__item--secondary {
    position: absolute;
    top: +7px;
    right: -18px;
}

.statistics__numbers {
    font-size: 20px;
    letter-spacing: 6px;
    line-height: 24px;
    font-weight: 800;
    color: var(--color5);
    font-family: var(--font1);
    padding-top: 15px;
    padding-bottom: 19px;
}

.statistics__text {
    font-size: 17px;
    line-height: 20px;
    color: var(--color6);
    font-weight: normal;
    font-family: var(--font1);
    text-align: center;
}

/********************BENEFITS********************/

.benefits {
    background: var(--color7);
    padding: 100px 0;
}

.benefits__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.benefits__boxes {
    max-height: 370px;
    display: flex;
    justify-content: space-between;
    background: var(--color8);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    width: calc(100% - 225px);
    position: relative;
}

.box--primary {
    padding: 91px 0 91px 35px;
    max-width: 420px;
}

.box--primary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
}

.box--primary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
}

.box--primary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color3);
}

.box--primary__icon {
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: rotate(45deg);
    background-color: var(--color3);
    margin-right: 100px;
    margin-top: 60px;
    position: relative;
}

.box--primary__img {
    width: 389px;
    position: absolute;
    right: +105px;
    bottom: 50px;
}

.box--secondary__icon {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    margin: 12px 30px 38px 70px;
}

.box--secondary__img {
    max-width: 426px;
}

.box--secondary {
    max-width: 420px;
    padding: 69px 0;
}

.box--secondary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-right: 170px;
}

.box--secondary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 7px;
    text-align: left;
}

.box--secondary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color1);
}

.benefits__boxes--last {
    max-height: 370px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 225px);
    position: relative;
    align-items: center;
}

.box--tertiary {
    max-width: 623px;
    background: var(--color8);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    padding: 67px 35px;
}

.box--tertiary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-right: 170px;
}

.box--tertiary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 7px;
    text-align: left;
}

.box--tertiary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color4);
}

.box--tertiary__icon {
    width: 440px;
    height: 370px;
    background-color: var(--color4);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box--tertiary__img {
    max-width: 296px;
}