* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

:root {
    --color1: #08A6E4;
    --color2: rgba(7, 172, 230, .16);
    --color3: #FB3B64;
    --color4: #55DFB4;
    --color5: #000000;
    --color6: #A5A5A5;
    --color7: #F7F7F7;
    --color8: #FFFFFF;
    --font1: 'Raleway', sans-serif;;
    --font2: 'Open Sans', sans-serif;;
}

/********************HEADER********************/

.header {
    background: var(--color8);
    box-shadow: 0 3px 6px #00000029;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    line-height: 37px;
    color: var(--color1);
    font-weight: 300;
    font-family: var(--font1);
    text-decoration: none;
    padding: 16px 0;
}

.nav__items {
    display: flex;
}

.nav__item {
    padding-left: 75px;
}

.nav__link {
    color: var(--color6);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 4px solid white;
    padding: 27px 10px 22px 10px;
    font-family: var(--font2);
}

.nav__link:hover {
    color: var(--color5);
    border-bottom: 4px solid var(--color1);
}

/********************BANNER********************/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    font-size: 49px;
    color: var(--color5);
    line-height: 57px;
    font-family: var(--font1);
    font-weight: normal;
    padding-top: 200px;
    padding-bottom: 20px;
}

.banner__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-bottom: 60px;
}

.banner__btn {
    font-size: 16px;
    line-height: 22px;
    color: var(--color8);
    font-weight: bold;
    font-family: var(--font2);
    text-decoration: none;
    padding: 22px 157px;
    background: var(--color1);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.banner__img{
    width: 100%;
    height: auto;
}

/********************STATISTICS********************/

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.statistics__title {
    padding: 100px 0;
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
}

.statistics__columns {
    display: flex;
    gap: 230px;
    justify-content: center;
}

.statistics__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics__items {
    width: 63px;
    height: 63px;
    position: relative;
    background-color: var(--color3);
    border-radius: 50%;
}

.statistics__item {
    position: absolute;
    right: -12px;
    top: +3px;
}

.statistics__items--primary {
    background-color: var(--color1);
    border-radius: 50%;
}

.statistics__item--primary {
    position: absolute;
    top: +14px;
    right: -24px;
}

.statistics__items--secondary {
    background-color: var(--color4);
    border-radius: 50%;
}

.statistics__item--secondary {
    position: absolute;
    top: +7px;
    right: -18px;
}

.statistics__numbers {
    font-size: 20px;
    letter-spacing: 6px;
    line-height: 24px;
    font-weight: 800;
    color: var(--color5);
    font-family: var(--font1);
    padding-top: 15px;
    padding-bottom: 19px;
}

.statistics__text {
    font-size: 17px;
    line-height: 20px;
    color: var(--color6);
    font-weight: normal;
    font-family: var(--font1);
    text-align: center;
}

/********************BENEFITS********************/

.benefits {
    background: var(--color7);
    padding: 100px 0;
}

.benefits__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.benefits__boxes {
    max-height: 370px;
    display: flex;
    justify-content: space-between;
    background: var(--color8);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    width: calc(100% - 225px);
    position: relative;
}

.box--primary {
    padding: 91px 0 91px 35px;
    max-width: 420px;
}

.box--primary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
}

.box--primary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
}

.box--primary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color3);
}

.box--primary__icon {
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: rotate(45deg);
    background-color: var(--color3);
    margin-right: 100px;
    margin-top: 60px;
    position: relative;
}

.box--primary__img {
    width: 389px;
    position: absolute;
    right: +105px;
    bottom: 50px;
}

.box--secondary__icon {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    margin: 12px 30px 38px 70px;
}

.box--secondary__img {
    max-width: 426px;
}

.box--secondary {
    max-width: 420px;
    padding: 69px 0;
}

.box--secondary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-right: 170px;
}

.box--secondary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 7px;
    text-align: left;
}

.box--secondary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color1);
}

.benefits__boxes--last {
    max-height: 370px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 225px);
    position: relative;
    align-items: center;
}

.box--tertiary {
    max-width: 623px;
    background: var(--color8);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    padding: 67px 35px;
}

.box--tertiary__title {
    font-size: 36px;
    line-height: 42px;
    color: var(--color5);
    font-weight: normal;
    font-family: var(--font1);
    padding-right: 170px;
}

.box--tertiary__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 7px;
    text-align: left;
}

.box--tertiary__line {
    height: 4px;
    width: 328px;
    background-color: var(--color4);
}

.box--tertiary__icon {
    width: 440px;
    height: 370px;
    background-color: var(--color4);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box--tertiary__img {
    max-width: 296px;
}

/********************PRICING********************/

.pricing {
    margin: 100px auto;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    font-family: var(--font1);
}

.pricing__title {
    padding-bottom: 50px;
}

.pricing__boxes {
    display: flex;
    gap: 59px;
    align-items: center;
}

.pricing__box {
    border-radius: 18px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.pricing__details {
    padding: 34px 160px 0 160px;
}

.pricing__box--premium .pricing__details {
    padding-right: 146px;
    padding-left: 146px;
}

.pricing__type {
    font-size: 20px;
    color: #13253B;
    font-weight: bold;
    margin-bottom: 14px;
}

.pricing__price {
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 5px;
    font-family: var(--font2);
}

.pricing__box--basic .pricing__price {
    margin-bottom: 69px;
    color: var(--color3);
}

.pricing__box--professional .pricing__price {
    color: #07ACE6;
}

.pricing__box--premium .pricing__price {
    color: var(--color4);
}

.pricing__box--professional .pricing__limited {
    margin-bottom: 61px;
}

.pricing__box--premium .pricing__limited {
    margin-bottom: 52px;
}

.pricing__limited {
    font-size: 12px;
    color: #13253B;
    font-weight: bold;
    font-family: var(--font1);
}

.pricing__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 41px;
    font-family: var(--font2);
    padding-bottom: 81px;
}

.pricing__box--professional {
    border-color: #07ACE6;;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__box--premium {
    border-color: var(--color4);
}

.pricing__box--professional .pricing__item {
    padding-bottom: 5px;
}

.pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

.btn {
    padding: 16px 57px;
    border-radius: 23px;
    background-color: #EB476E;
    align-self: center;
    text-decoration: none;
    color: var(--color8);
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font2);
    position: absolute;
    bottom: -23px;
}

.pricing__box--professional .btn {
    background-color: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}

.pricing__box--premium .btn {
    background-color: var(--color4);
}

.btn:hover {
    padding: 16px 65px;
}

/********************CONTACT********************/

.contact {
    display: flex;
    justify-content: center;
    gap: 114px;
    margin-top: 179px;
    margin-bottom: 59px;
}

.contact__column {
    max-width: 440px;

}

.contact__title {
    font-size: 49px;
    line-height: 57px;
    color: var(--color5);
    font-family: var(--font1);
    padding: 0 0 22px 0;
}

.contact__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color5);
    font-family: var(--font2);
    font-weight: normal;
    padding-bottom: 40px;
}

.contact__items {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    gap: 20px;
}

.contact__item {
    font-size: 16px;
    line-height: 22px;
    color: var(--color6);
    font-weight: 600;
    font-family: var(--font2);
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: var(--color1);
    font-family: var(--font2);
    font-weight: bold;
}

.form__input {
    width: 100%;
    font-size: 16px;
    font-family: var(--font2);
    border: none;
    border-bottom: 1px solid #95989A;
    margin-bottom: 42px;
    margin-top: 20px;
}

.checkbox__details {
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__span::after {
    content: "";
    width: 12px;
    height: 11px;
    display: inline-block;
    background-image: url("../assets/Checkmark.svg");
}

.checkbox__span {
    min-width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__text {
    font-size: 12px;
    line-height: 17px;
    color: #707070;
    font-weight: normal;
    font-family: var(--font2);
}

.btn--secondary {
    align-self: flex-end;
    color: var(--color8);
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    font-family: var(--font2);
    padding: 20px 97px;
    border-radius: 35px;
    background: var(--color1);
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
}

/********************FOOTER********************/

.footer {
    box-shadow: 0 -5px 40px #00000029;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__details {
    margin-top: 21px;
    margin-bottom: 17px;
}

.logo--primary {
    font-size: 26px;
    line-height: 30px;
}

.footer__copyright {
    color: var(--color6);
    padding-top: 6.5px;
    font-family: var(--font2);
    font-size: 11px;
    line-height: 15px;
}

.footer__icons {
    display: flex;
    gap: 20px;
}